<h1>CRUD</h1>

<table class="table">
<thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>occupation</th>
    <th>actions</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let user of users;let ind=index">
    <td>{{user.id}}</td>
    <td>
      <input *ngIf="user.id==currentEditUser" [(ngModel)]="textFeildData" type="text"  />
      <span *ngIf="user.id!=currentEditUser"> {{user.name}}</span>
    </td>
    <td>{{user.occupation}}</td>
    <td>
      <button *ngIf="user.id!=currentEditUser" class="btn mr-2 btn-primary" (click)="editUser(user.id,user.name)" >edit</button>
      <button *ngIf="user.id==currentEditUser" class="btn mr-2 btn-success" (click)="updateUser(user.id)" >update</button>
      <button *ngIf="user.id!=currentEditUser" class="btn mr-2 btn-danger" (click)="deleteUser(user.id)" >Delete</button>
    </td>
  </tr>
  <tr>
    <td><input [(ngModel)]="newid" type="text"></td>
    <td> <input [(ngModel)]="newName" type="text"></td>
    <td><input [(ngModel)]="newOccupation" type="text"></td>
    <td> <button (click)="createUser()" class="btn btn-warning">create</button> </td>
  </tr>
</tbody>
</table>

